.idea/
*.iml
*.ipr
*.iws

.vscode/

.settings/
.classpath
.project

*.log

*.hprof
*.mdmp

.gradle/
build/
build-cache/
gradle/

bin/

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
desktop.ini

*~

.env