server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: book-service-route
          uri: lb://BOOK-SERVICE
          predicates:
            - Path=/api/v1/books/**

        - id: user-service-route
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/user/**

        - id: audit-service-route
          uri: lb://AUDIT-SERVICE
          predicates:
            - Path=/api/v1/audit-log/**

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods: "*"
            allowedHeaders: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}:${server.port}"

logging:
  level:
    org.springframework.cloud.gateway: INFO
    reactor.netty: INFO